html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overscroll-behavior: none;
  -webkit-overscroll-behavior: none;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

/* 스크롤바 숨기기 */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

:root {
  padding: 0;
  margin: 0;
  font-family: pretendard, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

#root {
  width: 100%;
  overflow-x: hidden;
}

